# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Output files
*.mp4
*.zip
*_frames/
*.mkv

# Models (если скачиваются локально)
*.pt
*.part
.video-parts-*/
test-video
